<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 该文件存放CRUD的sql语句 -->
<mapper namespace="com.later.mapper.UserMapper">
	
	<select id="findByName" parameterType="String" resultType="User">
		select id,name,password from tbl_user where name=#{value}
	</select>
	
	<select id="findById" parameterType="Long" resultType="User">
		select id,name,password,perms from tbl_user where id=#{value}
	</select>
</mapper>